---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import CurrentPath from '../components/LayoutUI/CurrentPath.svelte';
---

<HeaderLayout
  title="404 Not Found | Wave Graphics"
  noindex={true}
>
  <section data-pagefind-ignore="all">
    <h2>404 Not Found</h2>
    <CurrentPath client:load />
    <p>お探しのページは見つかりませんでした．ページが削除されたか，移動した可能性もあります．</p>
  </section>
</HeaderLayout>

<style lang="scss">

</style>