---
import HeaderLayout from "../layouts/HeaderLayout.astro";

import FormDisplay from '../components/FormUI/FormDisplay.svelte';
---

<HeaderLayout
  title="アンケート | Wave Graphics"
  description="Wave Graphics Appに関する，アンケートにご協力をお願いいたします．"
>
  <h2>アンケート</h2>
  <div class="subSlot">
    <p>Wave Graphics Appに関するアンケートにご協力をお願いします．</p>
  </div>
  <FormDisplay client:load />
</HeaderLayout>