---
import HeaderLayout from '../layouts/HeaderLayout.astro';

import FormDisplay from '../components/FormUI/FormDisplay.svelte';
---

<Fragment slot="slot">
  <title>アンケート | Wave Graphics</title>
</Fragment>

<HeaderLayout description="Wave Graphics Appに関する，アンケートにご協力をお願いいたします．">
  <h2 data-pagefind-meta="title">アンケート</h2>
  <div class="subSlot">
    <p>Wave Graphics Appに関するアンケートにご協力をお願いします．</p>
  </div>
  <FormDisplay client:load />
</HeaderLayout>
