---
import HeaderLayout from "../layouts/HeaderLayout.astro";
---

<HeaderLayout
  title="Wave Graphics App by Wing"
>
  <section>
    <h3>利用しているフレームワーク</h3>
    <p>ここには一部のみ表示しています．全て見るには<a href="/framework">こちら</a>をクリック！</p>
    <ul>
      <li><strong><a href="/framework/11_astro">Astro</a></strong>：Astroは，コンテンツ中心のサイト（ブログ）の作成・デザインに便利なフレームワークです．</li>
    </ul>
  </section>
  <section>
    <h3>アンケートとお問い合わせ</h3>
    <ul>
      <li>
        <strong><a href='/form'>アンケート</a></strong>：Wave Graphics Appをより良くするため，アンケートでご意見を伺っております．運営者へのお問い合わせなどもフォームで受け付けております．
      </li>
      <li>
        <strong><a href='mailto:wing@me.wing.osaka'>メール</a></strong>：サイト運営者へのお問い合わせなどは，メールでも受け付けております．返信することは確約できませんが，可能な限り頂いたメールは拝見いたします．
      </li>
    </ul>
  </section>
</HeaderLayout>
