---
import HeaderLayout from "../layouts/HeaderLayout.astro";

import { getCollection } from "astro:content";

const frameworkEntries = await getCollection('framework');

const sortedFrameworkEntries = frameworkEntries.sort((a, b) => {
  return a.data.num - b.data.num;
});

const firstFiveFrameworkEntries = sortedFrameworkEntries.slice(0, 5);
---

<HeaderLayout
  title="Wave Graphics App by Wing"
>
  <section>
    <h3>利用しているフレームワーク</h3>
    <p>ここには一部のみ表示しています．全て見るには<a href="/framework">こちら</a>をクリック！</p>
    <ul>
      {firstFiveFrameworkEntries.map(frameworkEntry => (
        <li>
          <h4>
            <a class="h4title" href={`/framework/${frameworkEntry.slug}`}>{frameworkEntry.data.title}</a><span class="h4description">：{frameworkEntry.data.description}</span>
          </h4>
        </li>
      ))}
    </ul>
  </section>
  <section>
    <h3>アンケートとお問い合わせ</h3>
    <ul>
      <li>
        <strong><a href='/form'>アンケート</a></strong>：Wave Graphics Appをより良くするため，アンケートでご意見を伺っております．運営者へのお問い合わせなどもフォームで受け付けております．
      </li>
      <li>
        <strong><a href='mailto:wing@me.wing.osaka'>メール</a></strong>：サイト運営者へのお問い合わせなどは，メールでも受け付けております．返信することは確約できませんが，可能な限り頂いたメールは拝見いたします．
      </li>
    </ul>
  </section>
</HeaderLayout>

<style lang="scss">
  .h4title {
    font-weight: bold;
    font-size: 1em;
  }
  .h4description {
    font-weight: normal;
  }
</style>