---
import HeaderLayout from "../layouts/HeaderLayout.astro";
---

<HeaderLayout
  title="利用規約一覧 | Wave Graphics"
  description="Wave Graphics Appでは，コンテンツの適正かつ有益な利用のため，いくつかのルールを儲けさせていただいております．"
>
  <h2>ご利用規約一覧</h2>
  <div class="subSlot">
    <p>Wave Graphics Appでは，コンテンツの適正かつ有益な利用のため，いくつかのルールを儲けさせていただいております．特にコンテンツを引用または二次創作等に利用なさる場合は，必ずお読みください．</p>
  </div>
</HeaderLayout>