---
import HeaderLayout from '../layouts/HeaderLayout.astro';

import SearchSlot from '../components/SearchUI/SearchSlot.vue';

const title = '検索 | Wave Graphics';
const description = 'Wave Graphicsでは，様々な波の様子を御覧いただけます．'
---

<Fragment slot="head">
  <title>{title}</title>
  <meta name="robots" content="noindex" />

  <!-- og tags -->
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
</Fragment>

<HeaderLayout>
  <h2 data-pagefind-meta="title">検索</h2>
  <p>見つからない場合は，検索語句を細かく区切ってみてください．</p>
  <noscript>
    <p>JavaScriptが無効です．検索ボックスはご利用いただけません．</p>
  </noscript>
  <div class="searchSlot">
    <SearchSlot client:load />
  </div>
</HeaderLayout>

<style lang="scss">
  .searchSlot {
    min-height: 200px;
  }
</style>
