---
import HeaderLayout from "../layouts/HeaderLayout.astro";

import SearchSlot from "../components/SearchUI/SearchSlot.vue";
---

<HeaderLayout>
  <h2 data-pagefind-meta="title">検索</h2>
  <SearchSlot client:load />
</HeaderLayout>
