---
import HeaderLayout from "../layouts/HeaderLayout.astro";

import SearchSlot from "../components/SearchUI/SearchSlot.vue";
---

<HeaderLayout>
  <h2 data-pagefind-meta="title">検索</h2>
  <noscript>
    <p>検索機能を利用するには，JavaScriptを有効にしてください．</p>
  </noscript>
  <SearchSlot client:load />
</HeaderLayout>
