---

---

<footer>
  <section>
    <p class='footerContent'>&copy; 2025 Wing. Designed by <a href='https://wing.osaka' target='_blank'>wing.osaka</a>.</p>
  </section>
</footer>

<style lang="scss">
footer {
  width: 100%;
  box-shadow: 0 1px 7px var(--foreground);
  background-color: var(--background-transparent);
  backdrop-filter: blur(1px);
  margin: 0;
  padding: 0;
  section {
    p {
      text-align: center;
    }
  }
}
</style>