---

---

<footer>
  <section class='footerBox'>
    <p class='footerContent'>&copy; 2025 Wing. Designed by <a href='https://wing.osaka' target='_blank'>wing.osaka</a>.</p>
  </section>
</footer>

<style lang="scss">
footer {
  width: 100%;
  box-shadow: 0 1px 7px var(--foreground);
  background-color: var(--background-transparent);
  backdrop-filter: blur(1px);
}

.footerBox {
  margin-left: 15px;
}

p {
  margin: 0;
}
</style>