---

---

<header class='fixedHeader'>
  <h1 class='mainTitleMini'>
    <a href='/' class='titleLink'>Wave</a><a class='mainTitleMini' href='/'>Graphics App</a>
  </h1>
</header>

<style lang="scss">
h1 {
  text-align: center;
}

.mainTitleMini, 
.mainTitleMini:hover {
  font-size: 16px;
  font-family: Playwrite;
  color: var(--foreground);
  font-weight: bold;
  margin-top: -9px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
}

//グラデーション用CSS変数
.titleLink {
  --gradientLeft: #02175c;
  --gradientRight: #0072ff;
  --gradientLeftHover: #02175cab;
  --gradientRightHover: #0073ffab;

  @media (prefers-color-scheme: dark) {
    --gradientLeft: #00c6ff;
    --gradientLeftHover: #00c6ffab;
  }
}

.titleLink {
  font-weight: bold;
  text-decoration: none;
  font-size: 29px;
  font-family: Playwrite;
  margin-right: 15px;
  // 背景にグラデーションを設定
  background: linear-gradient(45deg, var(--gradientLeft), var(--gradientRight));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.titleLink:hover {
  background: linear-gradient(45deg, var(--gradientLeftHover), var(--gradientRightHover));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

//ヘッダー固定と影
.fixedHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 1px 7px var(--foreground);
  height: 36px;
  background-color: var(--background-transparent);
  backdrop-filter: blur(3px);
}
</style>