---

---

<header>
  <a class="waveTitle" href="/">
    <h1>Wave</h1><span>.graphics</span>
  </a>
</header>

<style lang="scss">
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 1px 7px var(--foreground);
  height: 36px;
  background-color: var(--background-transparent);
  backdrop-filter: blur(3px);
  padding: 0 10px;

  .waveTitle {
    margin-top: -30px;
    display: flex;
    align-items: baseline;
    h1 {
      font-family: Playwrite;

    }
    span {
      color: var(--foreground);
    }
  }
}
</style>