---

---

<header className={styles.fixedHeader}>
  <h1 className={styles.mainTitleMini}>
    <Link href='/' className={styles.titleLink}>Wave</Link><Link className={styles.mainTitleMini} href='/'>.graphics</Link>
  </h1>
</header>

<style lang="scss">

</style>