---
import RootLayout from './RootLayout.astro';
import type { ImageMetadata } from 'astro';

import Footer from '../components/LayoutUI/Footer.astro';
import Header from '../components/LayoutUI/Header.astro';
import CurrentPathOnSSG from '../components/LayoutUI/CurrentPathOnSSG.astro';
import BackToTop from '../components/LayoutUI/BackToTop.vue';

interface Props {
  ogImage?: ImageMetadata | string;
  hideCurrentPath?: boolean;
  ogType?: string;
}

const { ogType = 'website', hideCurrentPath = false, ogImage } = Astro.props;
---

<RootLayout ogImage={ogImage} ogType={ogType}>
  <Header />
  <div class="slotDiv">
    {!hideCurrentPath && <CurrentPathOnSSG />}
    <div data-pagefind-body>
      <slot />
    </div>
  </div>
  <Footer />
  <BackToTop client:load />
</RootLayout>

<style lang="scss">
  .slotDiv {
    margin: 40px 12px;
  }
</style>
