---
import RootLayout from "./RootLayout.astro";

import Footer from '../components/LayoutUI/Footer.astro';
import Header from '../components/LayoutUI/Header.astro';
import CurrentPathOnSSG from "../components/LayoutUI/CurrentPathOnSSG.astro";

interface Props {
  title?: string;
  description?: string;
  anotherFavicon?: string;
  noindex?: boolean;
  hideCurrentPath?: boolean;
}

const { noindex = false, hideCurrentPath = false, anotherFavicon = '/icons/favicon.png', title = 'Wave Graphics', description = 'Wave Graphicsアプリへようこそ！このアプリでは，物理の授業で出てきそうな，波の模型をデジタル化し，ウェブで閲覧可能にしたものです．' } = Astro.props;
---

<RootLayout
  title={title}
  description={description}
  anotherFavicon={anotherFavicon}
  noindex={noindex}
>
  <Header />
  <div class='slotDiv'>
    {!hideCurrentPath && (<CurrentPathOnSSG />)}
    <div data-pagefind-body>
      <slot />
    </div>
  </div>
  <Footer />
</RootLayout>

<style lang="scss">
  .slotDiv {
    margin: 40px 12px;
  }
</style>